@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}

:root{
    --padding-container:100px 0;
    --color-fondo: #e1c169;;
    
}
body {
    background-color:#e1c169;
    font-family: "Poppins", sans-serif;;
}
.btn_ws_style{
    width: 6.5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all.3s ease;
    z-index: 10000;
} 
.btn_ws_style:hover{
    width: 8rem;
}


.container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    

}

.hero{
    background-color: var(--color-fondo);
    z-index: 1;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before{
    content: "";
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../image/Webp/1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.nav{
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 80px;

}

.nav_title{
    margin-top: 25px;
    margin-left: 10px;
    width: 150px;
    height: 150px;    
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    z-index: 1;
    
}

.nav_items{
    list-style: none ;
}


.nav_links{
    color: white;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.logo_title_nav{
    display: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    color: white;
}

.nav_img{
    margin-right: 10px;
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero_title{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 10px;
    

}
/* Boton*/
.cta{
    display: inline-block;
    background-color: var(--color-fondo);
    justify-self: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 13px 30px ;
    border-radius: 32px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
} 
.cta:hover{
    scale: 110%;
}

/* Blog*/
.blog{
    padding-top: 40px;

}
.blog_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    padding-top: 0;
    padding-bottom: 20px;
}
.blog_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.blog_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    
}
.blog_img{
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    object-position: top;
    border-radius: 10%;
    

}
.blog_img-1-2{
    width: 250px; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10%; 
    
}
.blog_texts{
    max-width: 700px;
}
.blog_course{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px; 
}
.blog_arrow{
    width: 98%;
    cursor: pointer;
}
.blog_review{
    margin-top: 15px;
    
}
.footer{
    background-color:#f8f7f5;
    padding-top: 20px;
}
.footer_copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.footer_social{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footer_copyright{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.footer_img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.footer_icons{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* Mediaqueries*/

@media (max-width: 800px) {
    
    .nav_menu{
        display: block;
    }
    
    .nav_link--menu{
        position: fixed;
        background-image: radial-gradient(circle, rgba(0,0,0,0.700717787114846) 0%, rgba(0,0,0,0.8715861344537815) 100%), url("../image/Webp/1.webp");       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;   
        animation: myAnim3 1s ease 0s 1 normal forwards;
    }   
    
    @keyframes myAnim3 {
        0% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
        }
    
        100% {
            transform: scaleX(0);
            transform-origin: 100% 100%;
        }
    }   
   
    .nav_link--show{
        --show: block;
        font-size: 1.2rem;
        opacity: 1;
        pointer-events: unset;
        z-index: 100;
        animation: myAnim1 1s ease 0s 1 normal forwards;     
    }
    

    @keyframes myAnim1 {
        0% {
            transform: scaleX(0);
            transform-origin: 100% 100%;
        }
    
        100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
        }
    }
    body.modal-open {
        overflow: hidden;
    }
    .hero_title{
        font-size: 2rem;
    }

    .about_main{
        gap: 2em;
    }
    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hero_container{
    padding: 0;
    }
    .hero_title{
        font-size: 2rem;
    }

    .about_main{
        gap: 2em;
    }
    .about_icons:last-of-type{
        grid-column: 1/-1;
    }
   .cta{
    padding: 12px 23px;
    font-size: .9rem;
   }
   .blog_review{
    font-size: .9rem;
   }
   .footer{
    background-color:#f8f7f5;
   }
   .footer_copyright{
    font-size: .7rem;
   }
   .footer_img{
    width: 23px;
    height: 23px;
   }
   .footer_copy{
    gap: 5px;
   }
   .footer_social{
    gap: 10px;
   }
   .btn_ws_style{
    width: 4.5rem;
    margin-right: -20px;
   }
   .blog_arrow{
    width: 40px;
    height: 40px;
   }
   .btn_ws_style:hover{
    width: 5rem;
}
}

@media (max-width: 633px) {
    .blog_body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav_title{
        width: 100px;
        height: 100px;
    }
    .blog_picture{
        display: flex;
        justify-content: center;
    }
    .cta_header{
        font-size: .8rem;
    }
}
@media (max-width: 385px) {
    .blog_img{
        width: 220px;
        height: 220px;
    }
    .blog_container{
        grid-template-columns: 1fr 1fr 1fr;  
    }
    .hero_title{
        margin: 0 20px;
    }
    .footer_copyright{
        margin-top: 8px;
        font-size: .7rem;
    }
    .footer_social{
        display: grid;

    }
    
}
@media (max-width: 340px) {
   
    .blog_img{
        width: 210px;
    }
    .blog_arrow {
        width: 34px;
        height: 34px;
        }
    
}

